<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>bloks engine</title>

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/litera/bootstrap.min.css">
    <link rel="stylesheet" href="./engine/bloks.css?v=v0.0.1">
  </head>

  <body>
    <div id="preload" class="bg-primary text-white text-center">
      <h1>.bloks engine.</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>

    <header class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#"><strong>bloks</strong></a>

          <div class="btn-group mt-1 ml-3 mr-2">
            <a href="#" class="btn btn-sm btn-outline-info">Import</a>
            <a href="#" class="btn btn-sm btn-outline-info">Export</a>
          </div>
          <a href="#" class="btn btn-sm btn-success mt-1 mr-auto">Compile</a>
          <span class="badge bg-white text-secondary mt-1"><strong>v0.0.1</strong></span>
        </div>
      </header>

    <div class="container">
      <div class="row" id="bloks">

        <!-- Sidebar -->
        <div class="col-12 col-sm-4 col-md-3 col-lg-2 pt-2 pt-lg-4">

          <!-- Navigation -->
          <div class="nav nav-pills flex-column" id="tabList" role="tablist">
            <tab-link to="welcomeTab">Welcome</tab-link>
            <tab-link to="colorTab">Colors</tab-link>
            <tab-link to="headerTab" class="active">Header</tab-link>
            <tab-link to="contentTab">Content</tab-link>
            <tab-link to="sidebarTab">Sidebar</tab-link>
            <tab-link to="compileTab">Compile</tab-link>
          </div>
        </div>

        <!-- Content -->
        <div class="col-12 col-sm-8 col-md-9 col-lg-10 tab-content" id="tabContent">

          <tab name="welcomeTab">
            <h1>bloks: engine.</h1>

            <p><strong><a href="https://reddit.com/r/bloks" target="_blank">r/bloks</a></strong> is a subreddit theme built for the new 2018 reddit redesign. It's built to be <strong>customizeable</strong> and <strong>modular</strong>, to allow you to set it up in any configuration you like.</p>

            <p>You can use the navigation links to pinpoint exactly what you want to change, or you can use the buttons at the bottom of every page to see all of what this theme has to offer.</p>

            <p>If you run have any questions be sure to reach out via <a href="https://reddit.com/r/bloks" target="_blank">r/bloks</a> and I'd be happy to help.</p>

            <p>If you run into any bugs or issues, you can reach out on <a href="https://reddit.com/r/bloks" target="_blank">r/bloks</a> or you can <a href="https://github.com/12px/bloks/issues" target="_blank">open an issue on github</a>.</p>

            <p class="text-center pt-3">
              <tab-button to="colorTab">Get Started With Colors</tab-button>
            </p>
          </tab>

          <tab name="colorTab">

            <config title="General Colors">
              <color v-model="c_background">Background</color>
              <color v-model="c_foreground">Foreground</color>
              <color v-model="c_text_base">Text</color>
              <color v-model="c_link">Link</color>
            </config>

            <preview :css="css">
              <preview-link :css="css" type="stickied"></preview-link>
              <preview-link :css="css"></preview-link>
              <preview-link :css="css" type="locked"></preview-link>
              <preview-link :css="css" type="nsfw"></preview-link>
            </preview>

            <config title="UI Colors">
              <color v-model="c_thumbnail">Thumbnail</color>
              <color v-model="c_upvote">Upvote</color>
              <color v-model="c_downvote">Downvote</color>
              <color v-model="c_nsfw">NSFW</color>
              <color v-model="c_locked">Locked</color>
              <color v-model="c_stickied">Stickied</color>
            </config>

            <tab-button to="headerTab">Next Step: Header</tab-button>
          </tab>

          <tab name="headerTab" class="show active">
            <config title="Navbar Options">
              <toggle label="Static Navbar" v-model="o_static_header">
                Disables the fixed navbar.
              </toggle>
            </config>

            <tab-button to="colorTab">Previous Step: Colors</tab-button>
            <tab-button to="contentTab">Next Step: Content</tab-button>
          </tab>

          <tab name="contentTab">
            <h1>bloks: content.</h1>
            <tab-button to="headerTab">Previous Step: Header</tab-button>
            <tab-button to="sidebarTab">Next Step: Sidebar</tab-button>
          </tab>

          <tab name="sidebarTab">
            <h1>bloks: sidebar.</h1>
            <tab-button to="contentTab">Previous Step: Content</tab-button>
            <tab-button to="compileTab">Next Step: Compile</tab-button>
          </tab>

          <tab name="compileTab">
            <h1>bloks: compile</h1>
            <tab-button to="sidebarTab">Previous Step: Sidebar</tab-button>
          </tab>

        </div>

      </div>
    </div>

    <!-- Vendor Scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js">
      </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js">
      </script>
    <script src="./node_modules/less/dist/less.min.js"></script>
    <script src="./engine/less.js?v=v0.0.1"></script>

    <!-- Vue Templates -->
    <script src="./engine/vue/routing.js?v=v0.0.1"></script>
    <script src="./engine/vue/options.js?v=v0.0.1"></script>
    <script src="./engine/vue/preview.js?v=v0.0.1"></script>

    <!-- User Files -->
    <script src="./engine/bloks.js?v=v0.0.1"></script>
  </body>

</html>
