/* bloks - titlebox */

.titlebox .bottom {
  padding-bottom: 12px;
  font-size: @font-small;
  border-top-color: @c-border;
}

.tagline a, .search-result-meta a { color: @c-accent; }
.titlebox form.toggle, .leavemoderator { color: @c-text-subtle; }

#search {
  input[type=text] {
    width: 100%;

    &::placeholder {
      color: @c-text-subtle;
      text-transform: capitalize;
    }
  }

  input[type=submit] { opacity: 0.6; }
  &:not(:hover) input[type=submit] { opacity: 0.2; }
}

.side .nub,
span.multi-count,
.leavemoderator,
form.leavecontributor-button { display: none !important; }

// submit styles
// text can be changed in reddit settings
.morelink { 
  width: 100%;
  height: auto;
  line-height: @font-big;
  border: none;
  background-image: none;
  font-size: @font-base; 
}

.submit-link .morelink,
.submit-text .morelink {
  margin: -6px 0;
  background: transparent;

  a {
    font-weight: bold;
    &:extend(.x-btn all);
  }
}

// reddit name
.titlebox {
  .redditname {
    margin-bottom: -4px;

    a {
      margin-top: 8px;
      display: inline-block;

      &:before when (@o-sub-prefix) {
        content: 'r/';
        padding-right: 1px;
        font-size: @font-big;
      }
    }
  }
}

// subscribe button
.titlebox .subButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .subscribe-button  {
    width: 100%;
    margin-right: 0;
    .active { 
      width: 100%;
      text-align: center;
      line-height: initial;
      display: inline-block;

      &:extend(.x-btn all); 
    }
  }

  // dashboard, shortcut
  .res-fancy-toggle-button {
    flex-grow: 1;
    padding: 4px 0;
    text-align: center;
  }

  // mute RES and unsubscribe
  .subscribe-button .remove,
  .res-fancy-toggle-button {
    font-weight: normal;
    color: @c-text-base !important;
    border-color: @c-border;
    background-color: @c-border;
    background-image: none;
  }

  .RESDashboardToggle { margin-right: 0; }
}

