/* bloks engine styles */

#bloks { padding: 36px 0; }

#preload {
  z-index: 100;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  padding-top: calc(33vh - 40px)
}

#preload .progress {
  width: 400px;
  margin: 0 auto;
}

#tabContent h1 { padding-bottom: 12px; }

p {
  max-width: 35rem;
  font-family: inherit;
}

.conf .label {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.conf input[type=color] {
  padding: 0;
  width: 60px;
  height: 32px;
  outline: none;
  cursor: pointer;
  border-color: rgba(0,0,0,0.1);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.conf input[type="color"]::-webkit-color-swatch-wrapper { padding: 0; }
.conf input[type="color"]::-webkit-color-swatch {
  border: none;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.conf .cfg { margin: 12px 0; }
.conf .toggle {
  width: 65px; 
}

.preview .content { padding: 12px; }
.preview .link .post,
.preview .link .votes,
.preview .link .thumbnail {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.preview .link .score { margin: -5px 0; }
.preview .link .votes,
.preview .link .subtitle { font-size: 0.8em; }
