/* bloks - top bar */

#sr-header-area {
	display: none;
	
	padding: 0 12px;

	font-size: @font-smaller;
	text-transform: uppercase;

	background-color: @c-shadow;
	border-bottom-color: @c-border;

	&, a {
		color: @c-text-subtle;
	}

	a:hover {
		color: @c-link;
	}
}