/* bloks - mixins */

// Dark Palette
.palette() when (lightness(@c-background) < 50%) {
  @c-shadow:       lighten(@c-background, 5%);
  @c-border:       lighten(@c-background, 8%);
  @c-text-subtle:  mix(@c-text, @c-background, 60%);
}

// Light Palette
.palette() when (lightness(@c-background) >= 50%) {
  @c-shadow:       darken(@c-background, 5%);
  @c-border:       darken(@c-background, 8%);
  @c-text-subtle:  mix(@c-text, @c-background, 40%);
}

// Execute Palette
.palette();
