/* bloks - variables */

// Colors
@c-background:  #ffffff;
@c-text-base:   #191a23;

@c-link:        #4481ec;

@c-red:         #d86a62;
@c-green:       #399b76;
@c-blue:        #ffffff;
@c-yellow:      #ead340;
@c-purple:      #ffffff;
@c-orange:      #ffffff;
@c-black:       #191a23;
@c-white:       #ffffff;

// Fonts
@font-base:     13px;
@font-smaller:  10px;
@font-small:    11px;
@font-big:      16px;
@font-bigger:   24px;
